/* common */

* {
  /* font-family: YuGothic,'Yu Gothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif; */
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  vertical-align: bottom;
}


/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px;
}

header h1 img {
  width: 180px;
}

header .open-img {
  width: 50px;
}

/* top */

#top {
  margin: 0px 8px 0px 8px;
}

#top .top-text01 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#top .top-text02 {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}

#top .fukidashi {
  width: 100%;
}

#top .tel {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: green 2px solid;
  padding: 8px 0px 8px 0px; */
  margin: 24px 0px 24px 0px;
}

#top .tel img {
  width: 60px;
}

#top .tel a {
  font-size: 32px;
  font-weight: bold;
}

#top .top-btn {
  display: flex;
  justify-content: center;
}

#top .top-btn p {
  font-size: 20px;
  padding: 8px 32px 8px 32px;
  color: #fff;
}

#top .top-btn .btn-left {
  background: #458F68;
  margin-right: 8px;
}

#top .top-btn .btn-right {
  background: #FF0101;
}